.header__logo {
  width: 110px;
  height: 83px;
  margin-top: 17px;
}

@media (max-width: 1439px) {
  .header__logo {
    width: 100px;
    margin-right: 16px;
  }
}

@media (max-width: 900px) {
  .header__logo {
    width: 80px;
    margin: 0;
  }
}

