@media (min-width: 1440px) {
}
@media (max-width: 1440px) {

}

@media (min-width: 1050px) {
}
@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
    .green-form-house {
        padding-right: 37%;
    }
    .green-form-house > img {
        right: -119px;
        width: 56%;
    }
}

@media (min-width: 992px) {
    .scale-btn {
        display: none;
    }
    #svg_wrap > svg {
        transform: scale(1) !important;
    }
}

@media (max-width: 991px) {
    div#panel {
        display: none;
    }


    /* mobile menu */
    header {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .header-top {
        position: relative;
        z-index: 6;
    }
    .header-logo > img {
        height: 40px;
    }
    .header-bottom {
        position: fixed;
        left: 0;
        right: 0;
        top: -100vh;
        bottom: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: auto;
        transition: all 0.2s ease-out ;
    }
    body.open-menu .header-bottom {
        top: 72px;
        bottom: 0;
    }
    .header-bottom .top-menu {
        flex-direction: column;
    }
    .header-bottom .top-menu > li > a {
        display: inline-flex;
    }


    .mainslider-item-title {
        font-size: 40px;
        line-height: 48px;
    }
    .mainslider-item-content .font-20 {
        font-size: 16px !important;
    }
    .mainslider-item-content {
        width: 620px;
    }

    .green-form-house > img {
        right: -89px;
    }
    .svg_data_rect {
        display: none !important;
    }
    #svg_wrap_wrap {
        width: 98vw;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #svg_wrap {
        /*height: calc( 100vh - 180px );*/
        max-height: calc( 100vh - 180px );
    }
    #svg_wrap > svg {
        /*height: 100%;
        width: auto;
        min-width: auto;
        max-width: none;*/
        height: auto;
        width: 100%;
        max-width: none;
        min-width: 100%;
    }
    #svg_wrap .compas {
        bottom: 5%;
        left: 10%;
        /*max-width: 24%;*/
        }
    .image-line {
        width: auto;
    }
    .image-line > a > img {
        height: 250px;
        width: auto;
    }
	footer .container{text-align:center;}
}

@media (min-width: 768px) {
    .btn-group-md-lg>.btn, .btn-md-lg {
        padding: 11px 24px;
        font-size: 16px;
    }


}

@media (max-width: 767px) {
    .sale-list-item {
        padding-right: 40px;
        /* background-blend-mode: soft-light; */
    }
    .sale-list-item:before{
        content:"";
        border:1px solid #ccc;
        width: 100%;
        height:100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.42);
        border-radius: 14px;
    }
    .sale-list-item-name,
    .sale-list-item-text,
    .sale-list-item .btn-light{
        z-index: 9;
        position: relative;
    }
    .smart-filter-group.btn-group {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .smart-filter-group.btn-group >.btn,
    .smart-filter-group.btn-group >.btn-group {
        width: 100%;
    }
    .smart-filter-group.btn-group >.btn-group>.btn,
    .smart-filter-group.btn-group>.btn {
        border-radius: 8px;
    }
    .smart-filter-group.btn-group >.btn-group:not(:last-child)>.btn,
    .smart-filter-group.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .smart-filter-group.btn-group >.btn-group:not(:first-child),
    .smart-filter-group.btn-group>.btn:not(:first-child) {
        margin-top: -1px;
    }
    .smart-filter-group.btn-group >.btn-group:not(:first-child)>.btn,
    .smart-filter-group.btn-group>.btn:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .smart-filter-group.btn-group >.btn-group:not(:last-child)>.btn,
    .smart-filter-group.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mainslider .slick-dots {
        display: none !important;
    }
    .svg-map-legend{
        column-width: auto;
        column-count: 2;
    }
    .svg-map-legend p{
        margin: 0;
    }
    #svg_wrap > lottie-player{
        /*display: block;*/
    }

    .green-form-house {
        padding-right: 0;
    }
    .green-form-house > img {
        display: none;
    }
}

@media (min-width: 576px) {
}

@media (max-width: 575px) {
    .header-bottom .socnet > a {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .svg-map-legend {
        column-width: 100%;
        column-count: 1;
    }
    .image-line > a > img {
    
    }
}

@media (max-width: 440px) {

}
@media (max-width: 425px) {
}


/************* slider-arrow-outside ***************/
@media (min-width: 1200px) and (max-width: 1290px) {
    .slider-arrow-outside .slick-next.slick-arrow {
        right: -15px;
    }
    .slider-arrow-outside .slick-prev.slick-arrow {
        left: -15px;
    }
}
@media (min-width: 992px) and (max-width: 1099px) {
    .slider-arrow-outside .slick-next.slick-arrow {
        right: -5px;
    }
    .slider-arrow-outside .slick-prev.slick-arrow {
        left: -5px;
    }
}
@media (max-width: 860px) {
    .slider-arrow-outside .slick-next.slick-arrow {
        right: 5px;
    }
    .slider-arrow-outside .slick-prev.slick-arrow {
        left: 5px;
    }
}