.feedback__card-name {
  max-width: 252px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #1F2937;
  margin-top: 40px;
  margin-bottom: 16px;
  font-family: "Inter Tight", sans-serif;
  margin: 26px 0 0;
}

@media (max-width: 1439px) {
  .feedback__card-name {
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
  }
}

@media (max-width: 1030px) {
  .feedback__card-name {
    font-size: 16px;
    max-width: 380px;
  }
}

@media (max-width: 580px) {
  .feedback__card-name {
    font-size: 15px;
    max-width: 260px;
  }
}

