@media (min-width: 1400px) {
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px !important;
    }
}

@media (min-width: 1050px) {
}
@media (min-width: 1200px) {
}
#svg_wrap {
    /*height: calc( 100vh - 180px );*/
    max-height: calc( 100vh - 180px );
}
#svg_wrap > svg {
    /*height: 100%;
    width: auto;
    min-width: auto;
    max-width: none;*/
    height: auto;
    width: 100%;
    max-width: none;
    min-width: 100%;
}
#svg_wrap {
    max-height: 600px;
}
@media (max-width: 1199px) {
    .green-form-house {
        padding-right: 37%;
    }
    .green-form-house > img {
        right: -119px;
        width: 56%;
    }
}
#svg_wrap > svg {
    transform: scale(1) !important;
}
@media (min-width: 992px) {
    /*.scale-btn {*/
    /*    display: none;*/
    /*}*/


}

@media (max-width: 991px) {
    div#panel {
        display: none;
    }


    /* mobile menu */
    header {
        position: sticky;
        top: 0;
        z-index: 15;
    }
    .header-top {
        position: relative;
        z-index: 6;
    }
    .header-logo > img {
        height: 40px;
    }
    .header-bottom {
        position: fixed;
        left: 0;
        right: 0;
        top: -100vh;
        bottom: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: auto;
        transition: all 0.2s ease-out ;
    }
    body.open-menu .header-bottom {
        top: 72px;
        bottom: 0;
    }
    .header-bottom .top-menu {
        flex-direction: column;
    }
    .header-bottom .top-menu > li > a {
        display: inline-flex;
    }

    .mainslider-item-title {
        font-size: 40px;
        line-height: 48px;
    }
    .mainslider-item-content .font-20 {
        font-size: 16px !important;
    }
    .mainslider-item-content {
        width: 620px;
    }

    .green-form-house > img {
        right: -89px;
    }
    .svg_data_rect {
        display: none !important;
    }
    #svg_wrap_wrap {
        /*width: 98vw;*/
        width: 70vw;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #svg_wrap .compas {
        bottom: 5%;
        left: 10%;
        /*max-width: 24%;*/
        }
    .image-line {
        width: auto;
    }
    .image-line > a > img {
        height: 250px;
        width: auto;
    }
    .footer-pay-logo {
            padding: 0 0 0 16px;
            flex-direction: row;
    }
}

@media (min-width: 768px) {
    .btn-group-md-lg>.btn, .btn-md-lg {
        padding: 11px 24px;
        font-size: 16px;
    }


}

@media (max-width: 767px) {
    body.open-menu .mobile-menu {
        top: 0;
        bottom: 0;
    }
	.header-search-text{background: #fff!important;}
    .sale-list-item {
        padding-right: 40px;
        /* background-blend-mode: soft-light; */
    }
    .sale-list-item:before{
        content:"";
        border:1px solid #ccc;
        width: 100%;
        height:100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.42);
        border-radius: 14px;
    }
    .sale-list-item-name,
    .sale-list-item-text,
    .sale-list-item .btn-light{
        z-index: 9;
        position: relative;
    }
    .smart-filter-group.btn-group {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .smart-filter-group.btn-group >.btn,
    .smart-filter-group.btn-group >.btn-group {
        width: 100%;
    }
    .smart-filter-group.btn-group >.btn-group>.btn,
    .smart-filter-group.btn-group>.btn {
        border-radius: 8px;
    }
    .smart-filter-group.btn-group >.btn-group:not(:last-child)>.btn,
    .smart-filter-group.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .smart-filter-group.btn-group >.btn-group:not(:first-child),
    .smart-filter-group.btn-group>.btn:not(:first-child) {
        margin-top: -1px;
    }
    .smart-filter-group.btn-group >.btn-group:not(:first-child)>.btn,
    .smart-filter-group.btn-group>.btn:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .smart-filter-group.btn-group >.btn-group:not(:last-child)>.btn,
    .smart-filter-group.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mainslider .slick-dots {
        display: none !important;
    }
    .svg-map-legend{
        column-width: auto;
        column-count: 2;
    }
    .svg-map-legend p{
        margin: 0;
    }
    #svg_wrap > lottie-player{
        /*display: block;*/
    }

    .green-form-house {
        padding-right: 0;
    }
    .green-form-house > img {
        display: none;
    }
    .personal-main > div:last-child {
        border-left: none;
        box-shadow: 46vh 0 0 #F9F9F9, -46vh 0 0 #F9F9F9;
    }
    .personal-menu {
        display: flex;
        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    .personal-menu > li.active {
        border: none;
        background: none;
        font-weight: bold;
        box-shadow: none;
    }
    h1, .h1{
        font-size: 24px;
        line-height: 28px;
    }
    .ajax-search-page{
        top: 55px; 
        /*left: 98px;*/
        max-width: calc(100vw - 110px);
     }
}

@media screen and (max-width: 600px) {
    .page-personal .table {
        display: inline-block;
        overflow-y: scroll;
    }
}

@media (min-width: 576px) {
}

@media (max-width: 575px) {
    .b24-widget-button-wrapper.b24-widget-button-position-bottom-right, .b24-widget-button-wrapper.b24-widget-button-position-bottom-middle, .b24-widget-button-wrapper.b24-widget-button-position-bottom-left {
        display: none;
    }
    .header-bottom .socnet > a {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .svg-map-legend {
        column-width: 100%;
        column-count: 1;
    }
    .image-line > a > img {
    
    }

    .custom-input-group.input-group {

    }
    .custom-input-group.input-group > * {
        min-width: 200px;
        border-radius: 0 !important;
        margin: 0 !important;
    }
    .custom-input-group.input-group .btn {
        width: 100%;
        border-radius: 0 !important;
    }
}

@media (max-width: 475px) {
    .footer-pay-logo > img {
        width: 32px;
    }
}
@media (max-width: 425px) {
}
@media (max-width: 550px) {
    #svg_wrap_wrap {
        width: 93vw;
    }
}

/************* slider-arrow-outside ***************/
@media (min-width: 1200px) and (max-width: 1290px) {
    .slider-arrow-outside .slick-next.slick-arrow {
        right: -15px;
    }
    .slider-arrow-outside .slick-prev.slick-arrow {
        left: -15px;
    }
}
@media (min-width: 992px) and (max-width: 1099px) {
    .slider-arrow-outside .slick-next.slick-arrow {
        right: -5px;
    }
    .slider-arrow-outside .slick-prev.slick-arrow {
        left: -5px;
    }
}
@media (max-width: 860px) {
    .slider-arrow-outside .slick-next.slick-arrow {
        right: 5px;
    }
    .slider-arrow-outside .slick-prev.slick-arrow {
        left: 5px;
    }
}