.project {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 740px 352px;
  gap: 28px;
}

@media (max-width: 1439px) {
  .project {
    grid-template-columns: 570px 342px;
    max-width: 940px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

/* @media (max-width: 1280px) {
  .project {
    grid-template-columns: 570px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
} */

@media (max-width: 1280px) {
  .project {
    grid-template-columns: 470px 260px;
    max-width: 758px;
  }
}

@media (max-width: 830px) {
  .project {
    grid-template-columns: 500px;
    grid-template-rows: 318px 150px;
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .project {
    grid-template-columns: 100%;
    grid-template-rows: 270px 150px;
  }
}

@media (max-width: 440px) {
  .project {
    grid-template-columns: 100%;
    grid-template-rows: 220px 140px;
      gap: 10px;
  }
}

.project__section {
    max-height: 500px;
    background-color: #10B981;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    /*padding: 10px;*/
    /*padding-left: 30px;*/
    /*padding-top: 26px;*/
    /*background-image: url(../../../../image/ipoteka-banner.jpg);*/
    /*background-size: cover;*/
    /*background-position: top left;*/
    overflow: hidden;
}
.project__section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1439px) {
    .project__section {
        max-height: 385px;
    }
}

@media (max-width: 1280px) {
    .project__section {
        width: 260px;
        position: relative;
        height: 317px;
    }
}

@media (max-width: 830px) {
    .project__section {
        margin: 0 auto;
        width: 500px;
        height: 150px;
    }
}

@media (max-width: 570px) {
    .project__section {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 440px) {
    .project__section {
        width: 100%;
        padding: 14px;
    }
}

.project__link {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    position: relative;
    margin-right: 0;
    top: 196px;
    left: 152px;
    z-index: 1;
    text-decoration: none;
    font-family: "Inter Tight", sans-serif;
}

@media (max-width: 1439px) {
    .project__link {
        top: 140px;
    }
}

@media (max-width: 1280px) {
    .project__link {
        top: 65px;
        left: 106px;
        font-size: 16px;
    }
}

@media (max-width: 830px) {
    .project__link {
        top: 70px;
        left: 376px;
        font-size: 16px;
        position: absolute;
    }
}

@media (max-width: 570px) {
    .project__link {
        top: 66px;
        left: 306px;
        font-size: 14px;
        line-height: 20px;
        width: 98px;
    }
}

@media (max-width: 440px) {
    .project__link {
        top: 46px;
        left: 196px;
    }
}

.project__subtitle {
    color: #FFFFFF;
    width: 160px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    position: relative;
    margin: 0;
    font-family: "Muller", sans-serif;
}

@media (max-width: 570px) {
    .project__subtitle {
        font-size: 34px;
        line-height: 40px;
    }
}

@media (max-width: 440px) {
    .project__subtitle {
        font-size: 24px;
        line-height: 34px;
    }
}

.project__arrow {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
}

@media (max-width: 570px) {
    .project__arrow {
        width: 12px;
        height: 12px;
    }
}

.project__block {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
}

@media (max-width: 1439px) {
    .project__block {
        max-width: 400px;
    }
}

@media (max-width: 840px) {
    .project__block{
        margin-left: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 440px) {
    .project__block{
        margin-left: 10px;
        margin-top: q0px;
    }
}

.project__button {
    position: relative;
    border-radius: 8px;
    border-style: none;
    width: 121px;
    height: 40px;
    background-color: #10B981;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-family: "Inter Tight", sans-serif;
}

@media (max-width: 570px) {
    .project__button {
        width: 100px;

        line-height: 16px;
    }
}

.project__description {
    margin: 0;
    border-right: 1px solid #FFFFFF;
    padding-right: 5px;
    color: #F3F4F6;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    font-family: "Inter Tight", sans-serif;
}

.project__description:last-child {
    border: none;
    padding: 0;
}

@media (max-width: 570px) {
    .project__description {
        font-size: 14px;
        line-height: 10px;
    }
}

@media (max-width: 440px) {
    .project__description {
        font-size: 10px;
        line-height: 5px;
        width: 100px;
    }
}

.project__descriptions {
    display: flex;
    flex-direction: row;
    max-width: 342px;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}


.project__image {
    max-width: 740px;
    width: 100%;
    height: 500px;
    position: absolute;
    border-radius: 20px;
}

@media (max-width: 1439px) {
    .project__image {
        max-width: 570px;
        height: inherit;
    }
}

@media (max-width: 1280px) {
    .project__image {
        max-width: 470px;
    }
}

@media (max-width: 830px) {
    .project__image {
        max-width: 500px;
    }
}

@media (max-width: 570px) {
    .project__image {
        max-width: 400px;
    }
}

@media (max-width: 440px) {
    .project__image {
        max-width: 300px;
    }
}


.project__image-background {
    position: relative;
    left: 5px;
    bottom: 55px;
}

@media (max-width: 1439px) {
    .project__image-background {
        width: 300px;
        height: 300px;
        left: 12px;
        bottom: 60px;
    }
}

@media (max-width: 1280px) {
    .project__image-background {
        width: 200px;
        left: 30px;
        bottom:116px;
    }
}

@media (max-width: 830px) {
    .project__image-background {
        width: 200px;
        height: 170px;
        bottom: 0px;
        left: 300px;
        position: absolute;
    }
}

@media (max-width: 570px) {
    .project__image-background {
        width: 120px;
        height: 170px;
        left: auto;
        right: 0;
    }
}

@media (max-width: 440px) {
    .project__image-background {
        width: 100px;
        height: 110px;
        left: auto;
        right: 0;
    }
}


.project__line {
    position: relative;
    top: 238px;
    left: 46px;
}

@media (max-width: 1439px) {
    .project__line {
        width: 520px;
        top: 128px;
        left: 25px;
    }
}

@media (max-width: 1280px) {
    .project__line {
        width: 400px;
        top: 68px;
        left: 35px;
    }
}

@media (max-width: 570px) {
    .project__line {
        width: 360px;
        top: 48px;
        left: 20px;
    }
}

@media (max-width: 440px) {
    .project__line {
        width: 260px;
        top: 38px;
        left: 10px;
    }
}


.project__title {
    margin: 0;
    max-width: 290px;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: "Muller", sans-serif;
}

@media (max-width: 570px) {
    .project__title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 570px) {
    .project__title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 440px) {
    .project__title {
        font-size: 20px;
        line-height: 30px;
    }
}

