.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links-first {
  width: 86px;
}

.footer__links-second {
  width: 119px;
}

@media (max-width: 440px) {
  .footer__links-second {
    width: 80px;
  }
}