.sale {
background-color: #fff;
padding: 40px 0 40px;
/* max-width: 1120px; */
width: 100%;
}

@media (max-width: 1439px) {
  .sale {
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .sale {
  padding-top: 15px;
  padding-bottom: 15px;
  }
}
