.header__telephone__time {
  margin: 0;
  color: #6B7280;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter Tight", sans-serif;
}

@media (max-width: 1030px) {
  .header__telephone__time {
    font-size: 10px;
    line-height: 13px;
  }
}