.project__line {
  position: relative;
  top: 238px;
  left: 46px;
}

@media (max-width: 1439px) {
  .project__line {
    width: 520px;
    top: 128px;
    left: 25px;
  }
}

@media (max-width: 1280px) {
  .project__line {
    width: 400px;
    top: 68px;
    left: 35px;
  }
}

@media (max-width: 570px) {
  .project__line {
    width: 360px;
    top: 48px;
    left: 20px;
  }
}

@media (max-width: 440px) {
  .project__line {
    width: 260px;
    top: 38px;
    left: 10px;
  }
}
