.description__description {
  /* max-width: 1120px; */
  width: 100%;
  height: 460px;
  background-color: #10B981;
  margin-top: 32px;
  border-radius: 20px;
  position: relative;
}

@media (max-width: 1220px) {
  .description__description {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 840px) {
  .description__description {
    max-width: 470px;
    height: 780px;
  }
}

@media (max-width: 540px) {
  .description__description {
    margin: 20px auto;
    padding: 32px;
    position: relative;
    height: auto;
  }
}


