.description {
  margin: 40px 0;
  /* max-width: 1120px; */
  width: 100%;
}

@media (max-width: 1439px) {
  .description {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media (max-width: 530px) {
  .description {
    margin: 0;
    padding: 20px 0;
  }
}
