.header {
  margin: 0;
  background-color: #1A202C;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 21px 0 20px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

@media (max-width: 1200px) {
  .header {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 10px 0;
  }
}
