.footer {
  background-color: #1A202C;
  box-sizing: border-box;
  padding: 64px 0;
  width: 100%;
}

@media (max-width: 1130px) {
  .footer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 560px) {
  .footer {
    display: block;
  }
}

@media (max-width: 440px) {
  .footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}
