.header__button {
  width: 161px;
  height: 40px;
  background-color: #10B981;
  border-radius: 8px;
  color: #FFF;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter Tight", sans-serif;
}

@media (max-width: 1030px) {
  .header__button {
    width: 100px;

    line-height: 16px;
  }
}