.element__image {
  border-radius: 20px;
  display: block;
  object-fit: cover;
  max-width: 357px;
  width: 100%;
  height: 357px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 420px) {

}
