/*.feedback__card-location {
  color: #6B7280;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 17px 0 6px;
  font-family: "Inter Tight", sans-serif;
}

.feedback__card-location_link {
  text-decoration: underline;
  color: #6B7280;
  }*/