.question__description {
  color: #6b7280;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 24px;
  font-family: "Inter Tight", sans-serif;
}

@media (max-width: 706px) {
  .question__description {
    width: 270px;
  }
}
