.elements {
  padding: 44px 0 40px;
  /* max-width: 1120px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 21px;
  row-gap: 40px;
}

@media (max-width: 1439px) {
  .elements {
    max-width: 740px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .elements {
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .elements {
    max-width: 100%;
    grid-template-columns: 100%;
    justify-content: center;
  }
}
