.footer__link,
.footer__links ul li {
  color: #F3F4F6;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-right: 0;
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
}

.footer__link:last-child {
  margin-bottom: 0;
}

@media (max-width: 1130px) {
  .footer__link,
  .footer__links li {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

@media (max-width: 440px) {
  .footer__link,
  .footer__links li {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 8px;
    max-width: 80px;
  }
}