.description__image-title {
  position: relative;
  top: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  left: 20px;
  top: 210px;
  font-family: "Inter Tight", sans-serif;
  margin: 0;
}

@media (max-width: 606px) {
  .description__image-title {
    font-size: 12px;
    top: 130px;
  }
}

@media (max-width: 606px) {
  .description__image-title {
    font-size: 12px;
    top: 130px;
  }
}

@media (max-width: 440px) {
  .description__image-title {
    top: 128px;
  }
}


