.question__button {
  width: 328px;
  height: 48px;
  background-color: #10b981;
  border-radius: 8px;
  text-align: center;
  border-style: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: bottom;
  font-family: "Inter Tight", sans-serif;
}

@media (max-width: 1439px) {
  .question__button {
    width: 250px;
  }
}

@media (max-width: 1220px) {
  .question__button {
    width: 150px;
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 916px) {
  .question__button {
    margin-top: 10px;
  }
}

@media (max-width: 746px) {
  .question__button {
    width: 230px;
  }
}




