.question {
  padding: 45px 0 107px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .question {
    padding: 30px 50px 50px;
  }
}

@media (max-width: 430px) {
  .question {
    max-width: 300px;
  }
}
