/*.feedback__card {
  background-color: #F4F6FB;
  padding: 20px 18px;
  border-radius: 20px;
  box-sizing: border-box;
}

@media (max-width: 1030px) {
  .feedback__card {
  width: 500px;
  margin: 0 auto;
  }
}

@media (max-width: 580px) {
  .feedback__card {
    width: 300px;
  }
}*/

