/*ul.map-level-0{
    list-style: none;
    max-width: 270px;
    padding-left: 6px;

}
ul.map-level-0 li{
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 6px;
    padding-bottom: 6px;
}
ul.map-level-0 a {
	font-weight: bold;
}*/
ul.map-level-0{
    list-style: none;
padding-left: 6px;
max-width: 270px;
}
ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns td {
    vertical-align: top;
    padding-right: 16px;

}
