.description__white-image {
  position: absolute;
  top: 100px;
  left: 100px;
}

@media (max-width: 606px) {
  .description__white-image {
    left: 67px;
  }
}

@media (max-width: 440px) {
  .description__white-image {
    left: 50px;
    top: 80px;
    width: 40px;
  }
}

